<!DOCTYPE html>
<html>
  <head>
    <title>Section Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Section Page</h1>
      <form action="/submit" method="post">
        <div class="question">
          <h3>Question 1:</h3>
          <p>What is your favorite color?</p>
          <label>
            <input type="radio" name="color" value="red">
            Red
          </label>
          <br>
          <label>
            <input type="radio" name="color" value="blue">
            Blue
          </label>
          <br>
          <label>
            <input type="radio" name="color" value="green">
            Green
          </label>
        </div>
        <div class="question">
          <h3>Question 2:</h3>
          <p>What is your favorite animal?</p>
          <label>
            <input type="radio" name="animal" value="dog">
            Dog
          </label>
          <br>
          <label>
            <input type="radio" name="animal" value="cat">
            Cat
          </label>
          <br>
          <label>
            <input type="radio" name="animal" value="bird">
            Bird
          </label>
        </div>
        <div class="question">
          <h3>Question 3:</h3>
          <p>What is your favorite food?</p>
          <label>
            <input type="radio" name="food" value="pizza">
            Pizza
          </label>
          <br>
          <label>
            <input type="radio" name="food" value="sushi">
            Sushi
          </label>
          <br>
          <label>
            <input type="radio" name="food" value="burger">
            Burger
          </label>
        </div>
        <div class="question">
          <h3>Question 4:</h3>
          <p>What is your favorite food?</p>
          <label>
            <input type="radio" name="food" value="pizza">
            Pizza
          </label>
          <br>
          <label>
            <input type="radio" name="food" value="sushi">
            Sushi
          </label>
          <br>
          <label>
            <input type="radio" name="food" value="burger">
            Burger
          </label>
        </div>
        <div class="question">
          <h3>Question 5:</h3>
          <p>What is your favorite food?</p>
          <label>
            <input type="radio" name="food" value="pizza">
            Pizza
          </label>
          <br>
          <label>
            <input type="radio" name="food" value="sushi">
            Sushi
          </label>
          <br>
          <label>
            <input type="radio" name="food" value="burger">
            Burger
          </label>
        </div>
        <div class="question">
          <h3>Question 3:</h3>
          <p>What is your favorite food?</p>
          <label>
            <input type="radio" name="food" value="pizza">
            Pizza
          </label>
          <br>
          <label>
            <input type="radio" name="food" value="sushi">
            Sushi
          </label>
          <br>
          <label>
            <input type="radio" name="food" value="burger">
            Burger
          </label>
        </div>
        <div class="question">
          <h3>Question 3:</h3>
          <p>What is your favorite food?</p>
          <label>
            <input type="radio" name="food" value="pizza">
            Pizza
          </label>
          <br>
          <label>
            <input type="radio" name="food" value="sushi">
            Sushi
          </label>
          <br>
          <label>
            <input type="radio" name="food" value="burger">
            Burger
          </label>
        </div>
        <div class="question">
          <h3>Question 3:</h3>
          <p>What is your favorite food?</p>
          <label>
            <input type="radio" name="food" value="pizza">
            Pizza
          </label>
          <br>
          <label>
            <input type="radio" name="food" value="sushi">
            Sushi
          </label>
          <br>
          <label>
            <input type="radio" name="food" value="burger">
            Burger
          </label>
        </div>
        
        <div class="buttons">
          <button type="button" id="prevBtn" onclick="prevQuestion()">Prev</button>
          <button type="button" id="nextBtn" onclick="nextQuestion()">Next</button>
        </div>
      </form>
    </div>
    <script>
      // Keep track of current question
      let currentQuestion = 0;
      
      // Hide all questions except the first one
      const questions = document.querySelectorAll('.question');
      for (let i = 1; i < questions.length; i++) {
        questions[i].style.display = 'none';
      }
      
      // Update question display when clicking Next/Prev button
      function nextQuestion() {
        if (currentQuestion < questions.length - 1) {
          questions[currentQuestion].style.display = 'none';
          currentQuestion++;
          questions[currentQuestion].style.display = 'block';
        }
      }
      function prevQuestion() {
        if (currentQuestion > 0) {
          questions[currentQuestion].style.display = 'none';
          currentQuestion--;
          questions[currentQuestion].style.display = 'block';
        }
      }
    </script>
  </body>
</html>
